@import './variables.scss';
@import './mixin.scss';

html,
body .app {
  color: #333333;
  font-family: Arial, Helvetica, 'STHeiti STXihei', 'Microsoft YaHei', Tohoma, sans-serif;
  background-color: $background-color;

}

.app-container {
  padding-bottom: 50px;
}

//水波纹点击效果
.ripple {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color .25s;
}

.ripple:hover {
}

.ripple::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(circle, #ccc 10%, transparent 10.1%);
  transform: scale(10);
  opacity: 0;
  transition: all .6s;
}

.ripple:active::after {
  transform: scale(0);
  opacity: .5;
  transition: 0s;
}
